@import './style/icon.scss';
// 按钮
// @import "~taro-ui/dist/style/components/button.scss";
// @import "~taro-ui/dist/style/components/loading.scss";
// 标签页
@import "~taro-ui/dist/style/components/tabs.scss";
// 列表
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
// 栅格布局
@import "~taro-ui/dist/style/components/flex.scss";
// 文章样式
@import "~taro-ui/dist/style/components/article.scss";
// 头像样式
// @import "~taro-ui/dist/style/components/avatar.scss";

page {
  width: 100%;
  height: 100%;
  color: #333;
  background-color: #f1f1f1;
}
