/**
 * 说明：
 * 此处页面文字采用taro-ui的文章样式
 * 不可避免的有部分样式不符合预期，因此在配置是可以添加一个 selfClass 字段
 * 用以标识某一个具体文章
 */
.exam-notes {
  width: 100%;
  height: 100%;

  .at-article:last-child {
    margin-bottom: 30px;
  }
}

.stu-note1 {
  .at-article__p:last-child {
    white-space: pre-line;
  }
}
