@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin common-icon($size) {
  width: $size;
  height: $size;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin divided-line($width) {
  width: $width;
  height: 2px;
  background-color: #efefef;
}
